// --------------------
// App toolbar
// --------------------
.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  justify-content: center;
  height: 56px;
}

.app-toolbar__item {
  display: flex;
  align-items: center;
}

.app-toolbar__item__text {
  padding-left: 3px;
}

// --------------------
// Container
// --------------------
.container {
  margin-top: 56px;
  padding: 20px 70px;
}

.container__element {
  max-width: 900px;
  margin: auto;
}
