// --------------------
// App toolbar
// --------------------
.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 56px;
}

.app-toolbar__spacer {
  flex: 1 1 auto;
}

// --------------------
// Container
// --------------------
.container {
  margin-top: 56px;
  padding: 20px 70px;
}

.container__element {
  max-width: 900px;
  margin: auto;
}
