// --------------------
// App toolbar
// --------------------
.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 56px;
}

.app-toolbar__spacer {
  flex: 1 1 auto;
}

// --------------------
// Container
// --------------------
.container {
  padding: 20px 70px 0 70px;
  position: absolute;
  top: 56px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.container__element {
  max-width: 900px;
  margin: auto;
  position: relative;
}
