// --------------------
// Section list
// --------------------
.section-list {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}

.section-list__item {
  flex-basis: 50%;
  padding: 6px;
  box-sizing: border-box;
}

.section-list__item--small {
  display: block;
}

.section-list__item__content {
  background: #303030;
  padding: 16px 12px;
  border-radius: 2px;

  p {
    font-size: 13px;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

// --------------------
// Page heading
// --------------------
.page-heading {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.page-heading__text {
  margin: 0 0 0 12px;
}

// --------------------
// Loading block
// --------------------
.loading-block__spinner {
  margin: 65px auto;
}
