/* You can add global styles to this file, and also import other style files */

body {
  background-color: #303030;
  margin: 0;
}

.icon-button {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }

  .mat-icon {
    margin-right: 3px;
  }
}

.router-anim-target {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  & > .mat-card {
    margin-bottom: 20px;
  }
}
